@use 'styles/utils' as *;

.CartItem {
    @include flex($justify: flex-start);
    font-size: 1.5rem;
    font-weight: 700;

    >:last-child {
        margin-left: auto;
    }

    &__info {
        @include flex($direct: column, $align: flex-start, $gap: .2rem);
    }

    &__price {
        font-size: 1.4rem;
        color: $clr-txt;
    }

    &__qty {
        color: $clr-txt;
    }

    &__control {
        @extend %controller;
        min-height: 3.2rem;
        min-width: 9rem;

        >button {
            flex: 1;
        }
    }
}