@use '../utils' as *;

.Footer {
    @include flex();
    flex-direction: column;
    gap: 4.8rem;
    position: relative;
    background-color: $clr-vd-gray;
    padding-block: 5.2rem 3.2rem;
    padding-inline: 2.4rem;

    a {
        color: $clr-white;
        transition: all 250ms ease-out;
        letter-spacing: 2px;
        font-size: 1.3rem;
        font-weight: 700;

        &:hover {
            color: $clr-orange;
        }
    }

    &__nav {
        @include flex();

        @include breakpoint(mobile) {
            flex-direction: column;
            gap: 4.8rem;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 10rem;
            height: 4px;
            background-color: $clr-orange;
        }
    }

    &__list {
        @include flex();

        @include breakpoint(mobile) {
            flex-direction: column;
        }
    }

    &__content {
        display: grid;
        gap: 4.8rem;
        text-align: center;
    }

    &__media {
        @include flex($gap: 1.3rem);

        a {
            font-size: 2.8rem;
        }
    }
}