@use '../utils' as *;

.Header {
    background-color: $clr-blacky;

    &__container {
        @include flex($justify: space-between);
        position: relative;
        z-index: 100;
        border-bottom: 1px solid $clr-divider;
        padding: 3.2rem 2.4rem;
    }

    &__menu {
        display: none;

        @include breakpoint(mobile) {
            display: block;
            cursor: pointer;
        }
    }

    &__cart {
        cursor: pointer;
    }

    &__nav {
        @include breakpoint(mobile) {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 9.2rem 2.4rem 3.2rem;
            background-color: $clr-white;
            border-radius: 0 0 .8rem .8rem;
            opacity: 0;
            visibility: hidden;
            transform: translateY(110%);
            transition: all 250ms ease-out;

            &.active {
                opacity: 1;
                visibility: visible;
                transform: translateY(100%);
            }
        }
    }

    &__desktopList {
        @include flex();
        color: $clr-white;

        @include breakpoint(mobile) {
            display: none;
        }

        a.active {
            color: $clr-orange;
        }
    }

    &__tabletList {
        display: none;

        @include breakpoint(mobile) {
            @include flex($direct: column, $align: stretch, $gap: 6.4rem);
        }
    }

    &__lightbox {
        display: none;

        @include breakpoint(mobile) {
            display: block;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: $clr-txt;
            z-index: 50;
            opacity: 0;
            visibility: hidden;
            transition: all 250ms ease-out;

            &.active {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}