@use '../../utils' as *;

.Footer {
    background-color: $clr-blacky;

    &__container {
        @extend %container;
        @include flex($direct: column, $gap: 3.2rem);
        position: relative;
        padding-block: 5.2rem 3.2rem;

        @include breakpoint(mobile) {
            gap: 4.8rem;
        }

        @include breakpoint(desktop) {
            padding-block: 8rem 4rem;
        }
    }

    &__nav {
        @include flex($direct: column, $gap: 4.8rem);
        width: 100%;

        @include breakpoint(tablet) {
            align-items: start;
            gap: 2.4rem;
        }

        @include breakpoint(desktop) {
            flex-direction: row;
            justify-content: space-between;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 3.2rem;
            width: 10rem;
            height: 4px;
            background-color: $clr-orange;

            @include breakpoint(mobile) {
                left: 50%;
                transform: translateX(-50%);
            }

            @include breakpoint(desktop) {
                left: 4rem;
            }
        }
    }

    .NavList {
        @include flex($gap: 3.2rem);

        @include breakpoint(mobile) {
            flex-direction: column;
            gap: 1.6rem;
        }
    }

    &__content {
        display: grid;
        width: 100%;
        row-gap: 6.4rem;
        grid-template-columns: max-content 1fr;

        @include breakpoint(mobile) {
            grid-template-areas: 'content''copyright''media';
            grid-template-columns: 1fr;
            row-gap: 4.8rem;
            text-align: center;
        }

        @include breakpoint(tablet) {
            grid-template-areas:
                'content content'
                'copyright media';
        }

        @include breakpoint(desktop) {
            grid-template-areas:
                'content media'
                'copyright .';
        }
    }

    .para {
        grid-area: content;
        max-width: 80ch;

        @include breakpoint(mobile) {
            max-width: 35ch;
            justify-self: center;
        }

        @include breakpoint(desktop) {
            max-width: 57.5ch;
        }

        &--copyright {
            grid-area: copyright;
        }
    }

    &__media {
        @include flex($gap: 1.3rem);
        grid-area: media;
        place-self: end;

        @include breakpoint(mobile) {
            place-self: center;
        }

        a {
            display: flex;
            font-size: 2.8rem;
        }
    }
}