@use '../../utils' as *;

.MobNavList {
    @extend %container;
    @include flex($direct: row, $align: stretch, $gap: 1rem);

    @include breakpoint(mobile) {
        flex-direction: column;
        gap: max(7.5rem, 16vw);
    }

    @include breakpoint(desktop) {
        gap: 2.8rem;
    }

    &__card {
        @include flex($direct: column);
        flex: 1;
        position: relative;
        color: $clr-blacky;
        background-color: $clr-l-gray;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 1px;
        padding-block: max(9%, 6rem) 2.2rem;
        border-radius: .8rem;

        @include breakpoint(mobile) {
            padding-top: max(18%, 7rem);
        }


        a {
            @include flex($gap: 1.2rem);
            color: $clr-txt;
        }
    }

    &__img {
        width: max(50%, 12rem);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -35%);

        @include breakpoint(mobile) {
            width: max(35%, 14rem);
        }
    }
}