@use '../../utils' as *;

.Product {
    @include flex($direct: column, $gap: 3.2rem);

    @include breakpoint(desktop) {
        flex-direction: row;
        gap: 10%;

        &:nth-of-type(2n+2) {
            flex-direction: row-reverse;
        }

        >:first-child {
            flex: 1;
        }

        >:last-child {
            flex-basis: 41.5%;
        }
    }

    &__content {
        @include flex($direct: column, $gap: 2.4rem);
        text-align: center;

        @include breakpoint(desktop) {
            align-items: flex-start;
            text-align: left;
        }
    }

    &__newLogo {
        display: block;
        color: $clr-orange;
        font-size: 1.4rem;
    }

    &__btns {
        @include flex($justify: flex-start, $align: stretch);
        margin-top: 2rem;

    }

    &__count {
        @include flex($gap: 1rem);
        background-color: $clr-l-gray;
        font-size: 1.4rem;
        font-weight: 700;

        >*:not(:nth-child(2)) {
            font: inherit;
            padding: 0 2rem;
            align-self: stretch;
            color: rgba($clr-txt, .3);

            &:hover {
                color: $clr-orange;
                transform: scale(1.4);
            }
        }
    }

    .heading--2 {
        max-width: 14ch;
    }
}