@use '../../utils' as *;

.Product {
    @include flex($direct: column, $gap: 3.2rem);

    @include breakpoint(desktop) {
        flex-direction: row;
        gap: 10%;

        &:nth-of-type(2n+2) {
            flex-direction: row-reverse;
        }

        >:first-child {
            flex: 1;
        }

        >:last-child {
            flex-basis: 41.5%;
        }
    }

    &__img {
        border-radius: .8rem;
    }

    &__content {
        @include flex($direct: column, $gap: 2.4rem);
        text-align: center;

        @include breakpoint(desktop) {
            align-items: flex-start;
            text-align: left;
        }
    }

    &__newLogo {
        display: block;
        color: $clr-orange;
        font-size: 1.4rem;
    }

    &__btns {
        @include flex($justify: flex-start, $align: stretch);

    }

    &__count {
        @include flex();
        background-color: $clr-l-gray;

        >* {
            padding: 0 1rem;
        }
    }
}