@use '../../utils' as *;

.ProductDetails {
    @extend %container;
    @include flex($direct: column, $align: flex-start, $gap: 12rem);
    margin-bottom: 5rem;

    .Product__content {
        align-items: flex-start;
        text-align: left;
    }

    &__back {
        position: relative;
        top: 7rem;
        font-size: 1.5rem;
        font-weight: 500;
        color: $clr-txt;
    }

    &__content {
        @include flex($direct: column, $align: flex-start, $gap: 12rem);

        @include breakpoint(desktop) {
            flex-direction: row;
            justify-content: space-between;

            >* {
                flex: 1;
            }
        }
    }

    &__features {
        @include flex($direct: column, $align: flex-start, $gap: 2.4rem)
    }

    &__inBox {
        @include flex($direct: column, $align: stretch, $gap: 2.4rem);

        &__list {
            li {
                margin-bottom: .8rem;
            }

            span {
                margin-inline-end: 2.4rem;
                color: $clr-orange;
                font-weight: 700;
            }
        }
    }

    &__gallery {
        display: grid;
        gap: 2.4rem;

        @include breakpoint(tablet) {
            grid-template-columns: 1fr 1.4fr;

            :last-child {
                grid-column-start: 2;
                grid-row: 1/3;
            }
        }
    }

    &__similarItems {
        @include flex($direct: column, $gap: 4rem);

        .Btn--orange {
            @include breakpoint(tablet) {
                padding-inline: min(3.2rem, 4vw)
            }
        }
    }

    &__cards {
        @include flex($gap: 1rem);

        @include breakpoint(mobile) {
            flex-direction: column;
            gap: 5.6rem;
        }

        >* {
            @include flex($direct: column, $gap: 2.4rem);
        }
    }
}