@use '../../utils' as *;

.ProductDetails {
    @extend %container;
    @include flex($direct: column, $align: flex-start, $gap: 12rem);

    @include breakpoint(desktop) {
        margin-bottom: 6rem;
    }

    &__back {
        position: relative;
        top: 7rem;
        font-size: 1.5rem;
        color: $clr-txt;
    }
}