@use '../../utils' as *;

.Gear {
    @include flex($direct: column, $align: stretch, $gap: 4rem);
    padding: 2.4rem;

    &__img {
        &--mobile {
            @extend %imgSet;

            @include breakpoint(mobile) {
                display: flex;
            }
        }

        &--tablet {
            @extend %imgSet;

            @include breakpoint(tablet) {
                display: flex;
            }
        }

        &--desktop {
            @extend %imgSet;

            @include breakpoint(desktop) {
                display: flex;
            }
        }
    }

    &__content {
        @include flex($direct: column, $gap: 3.2rem);
        text-align: center;
    }

    .heading--2 {
        span {
            color: $clr-orange;
        }
    }
}