@use '../../utils' as *;

.Gear {
    @include flex($direct: column, $align: stretch, $gap: 4rem);
    padding: 2.4rem;

    &__img {
        background-image: url(../../../public/images/shared/mobile/image-best-gear.jpg);
        background-size: cover;
        border-radius: .8rem;
        height: calc(80vw);
    }

    &__content {
        @include flex($direct: column, $gap: 3.2rem);
        text-align: center;
    }

    .heading--2 {
        span {
            color: $clr-orange;
        }
    }
}