@use '../../utils' as *;

.Hero {
    @include flex($direct: column, $gap: 3.2rem);
    position: relative;
    background-color: $clr-blacky;
    text-align: center;
    padding: 35vw 1.6rem;
    z-index: 1;
    overflow: hidden;

    &__bg {
        position: absolute;
        bottom: 0;
        z-index: -1;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        @include breakpoint(mobile) {
            top: -10rem;
            width: 100vw;
            background-image: url(../../../public/images/home/mobile/image-hero.jpg);
        }
    }

    .heading--1 {
        max-width: 20ch;
        margin-inline: auto;

        span {
            display: block;
            font-size: 1.5rem;
            font-weight: 400;
            color: $clr-l-txt;
            letter-spacing: 1rem;
            margin-bottom: 2rem;
        }
    }

    .para {
        color: rgba($clr-l-txt, .7);
        max-width: 40ch;
        margin-inline: auto;
    }
}