@use 'styles/utils' as *;

.Hero {
    position: relative;
    background-color: $clr-blacky;

    @include breakpoint(mobile) {
        bottom: 25vw;
        margin-bottom: -25vw;
    }

    @include breakpoint(tablet) {
        bottom: 10vw;
        margin-bottom: -10vw;
    }

    @include breakpoint(desktop) {
        bottom: min(6vw, 8.6rem);
        margin-bottom: max(-6vw, -8.6rem);
    }

    &__content {
        @include flex($direct: column, $gap: 2rem);
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        padding-inline: 2.4rem;
        opacity: 0;
        animation: 1s fade-up 1.5s forwards;


        @include breakpoint(mobile) {
            top: 56%;
            transform: translateY(-30%);
        }

        @include breakpoint(tablet) {
            top: max(53%, 30rem);
            transform: translateY(-30%);
        }

        @include breakpoint(desktop) {
            text-align: left;
            align-items: flex-start;
            top: min(calc(50% + 3vw), 40.8rem);
            left: 0;
            padding-inline: 4rem;
            width: min(100%, 115rem);
            margin-inline: auto;
            transform: translateY(-30%);
        }
    }

    &__img {
        margin-inline: auto;
        opacity: 0;
        animation: 1s fade-in 500ms forwards;
    }
}

@keyframes fade-in {
    100% {
        opacity: 1;
    }
}

@keyframes fade-up {
    100% {
        opacity: 1;
        transform: translateY(-50%);
    }
}