@use '../../utils' as *;

.Hero {
    position: relative;

    &__content {
        @include flex($direct: column, $gap: 3.2rem);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &__img {
        &--mobile {
            @extend %imgSet;
            border-radius: 0;

            @include breakpoint(mobile) {
                display: flex;
            }
        }

        &--tablet {
            @extend %imgSet;
            border-radius: 0;

            @include breakpoint(tablet) {
                display: flex;
            }
        }

        &--desktop {
            @extend %imgSet;
            border-radius: 0;

            @include breakpoint(desktop) {
                display: flex;
            }
        }
    }

    .heading--1 {
        max-width: 20ch;
        margin-inline: auto;

        span {
            display: block;
            font-size: 1.5rem;
            font-weight: 400;
            color: $clr-l-txt;
            letter-spacing: 1rem;
            margin-bottom: 2rem;
        }
    }

    .para {
        color: rgba($clr-l-txt, .7);
        max-width: 40ch;
        margin-inline: auto;
    }
}