@use '../utils' as *;

.Btn {
    letter-spacing: .8px;
    padding: 1.2rem 2.8rem;

    &--orange {
        @extend .Btn;
        color: $clr-white;
        background: $clr-orange;

        &:hover {
            background: lighten($clr-orange, 15%);
        }
    }

    &--black {
        @extend .Btn;
        color: $clr-white;
        background: $clr-black;

        &:hover {
            background: lighten($clr-black, 20%);
        }
    }

    &--transparent {
        @extend .Btn;
        color: $clr-black;
        background: transparent;
        border: 2px solid $clr-black;

        &:hover {
            color: $clr-white;
            background: $clr-black;
        }
    }
}