@use '../utils' as *;

.Btn {
    letter-spacing: .8px;
    padding: 1.4rem 3.2rem;

    &--orange {
        @extend .Btn;
        color: $clr-white;
        background: $clr-orange;

        &:hover {
            background: lighten($clr-orange, 15%);
        }

        .ProductDetails & {
            @include breakpoint(tablet) {
                padding-inline: min(3.2rem, 4vw);
            }
        }
    }

    &--black {
        @extend .Btn;
        color: $clr-white;
        background: $clr-black;

        &:hover {
            background: lighten($clr-black, 20%);
        }
    }

    &--transparent {
        @extend .Btn;
        color: $clr-black;
        background: transparent;
        border: 2px solid $clr-black;

        &:hover {
            color: $clr-white;
            background: $clr-black;
        }
    }
}