$clr-white: #fff;
$clr-black: #000;
$clr-blacky: #191919;
$clr-gray: #d3d3d3;
$clr-l-gray: #f1f1f1;
$clr-orange: hsl(22, 65%, 57%);
$clr-input-error: #cc0000;
$clr-txt: rgba($clr-black, 0.5);
$clr-l-txt: rgba($clr-white, 0.5);
$clr-divider: rgba($clr-white, 0.1);
$clr-placeholder: rgba($clr-black, .4);