@mixin flex($direct: row, $justify: center, $align: center, $gap: 1.6rem) {
    display: flex;
    flex-direction: $direct;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin breakpoint($size) {
    @if $size==mobile {
        @media(max-width:27.99em) {
            @content;
        }
    }

    @else if $size==tablet {
        @media(min-width:28em) {
            @content;
        }
    }

    @else if $size==desktop {
        @media(min-width:45em) {
            @content;
        }
    }
}