@mixin flex($direct: row, $justify: center, $align: center, $gap: 1.6rem) {
    display: flex;
    flex-direction: $direct;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin breakpoint($size) {
    @if $size==mobile {
        @media(max-width:32.99em) {
            @content;
        }
    }

    @else if $size==tablet {
        @media(min-width:33em) and (max-width:59.99em) {
            @content;
        }
    }

    @else if $size==desktop {
        @media(min-width:60em) {
            @content;
        }
    }
}

%imgSet {
    display: none;
    overflow: hidden;
    border-radius: .8rem;
}