@use 'styles/utils' as *;

.Btn {
    letter-spacing: .8px;
    padding: 1.4rem 3.2rem;
    text-align: center;

    &--orange {
        @extend .Btn;
        color: $clr-white;
        background: $clr-orange;

        &:hover,
        &:focus {
            background: lighten($clr-orange, 15%);
        }

        .ProductDetails & {
            @include breakpoint(tablet) {
                padding-inline: min(3.2rem, 4vw);
            }
        }
    }

    &--black {
        @extend .Btn;
        color: $clr-white;
        background: $clr-black;
        outline-color: $clr-blacky;

        &:hover,
        &:focus {
            background: lighten($clr-black, 20%);
        }
    }

    &--transparent {
        @extend .Btn;
        color: $clr-black;
        background: transparent;
        border: 2px solid $clr-black;
        outline-color: $clr-blacky;

        &:hover,
        &:focus {
            color: $clr-white;
            background: $clr-black;
        }
    }
}