@use 'styles/utils' as *;

.LightBox {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $clr-txt;
    opacity: 0;
    visibility: hidden;
    transition: all 250ms ease-out;
    z-index: -1;

    @include breakpoint(desktop) {
        .Header>& {
            display: none;
        }
    }

    &.active {
        opacity: 1;
        visibility: visible;
    }
}