@use 'styles/utils' as *;

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
}

#__next {
    min-height: 100vh;
    @include flex($direct: column, $justify: flex-start, $align: stretch, $gap: 0)
}

main {
    @include flex($direct: column, $align: stretch, $gap: 12rem);
    padding-bottom: 13.8rem;
}

img {
    display: block;
    max-width: 100%;
    border-radius: .8rem;
    pointer-events: none;

    .Header & {
        border-radius: 0;
    }
}

a {
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: $clr-white;
    transition: all 250ms ease-in-out;

    .Header &:hover:not(.Btn--orange),
    .Footer &:hover,
    .MobNavList &:hover {
        color: $clr-orange;
    }

    &.active {
        color: $clr-orange;
    }
}

button {
    font: inherit;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: all 250ms ease-in-out;

    &.Btn--orange {
        font-size: 1.3rem;
        font-weight: 700;
        letter-spacing: 2px;
    }

    &:not(.Btn--orange):hover {
        color: $clr-orange;
    }
}