@use 'styles/utils' as *;

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
}

#__next {
    min-height: 100vh;
    @include flex($direct: column, $justify: flex-start, $align: stretch, $gap: 0)
}

main {
    @include flex($direct: column, $align: stretch, $gap: 12rem);
    padding-bottom: 13.8rem;
}

img {
    display: block;
    max-width: 100%;
    border-radius: .8rem;
    pointer-events: none;

    .Header__menu & {
        border-radius: 0;
    }
}

a {
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 2px;
    transition: all 250ms ease-in-out;

    &.active {
        color: $clr-orange;
    }

    &:not(.Btn--orange):not(.Btn--black):not(.Btn--transparent):hover,
    &:not(.Btn--orange):not(.Btn--black):not(.Btn--transparent):focus {
        color: $clr-orange;
    }

    .MobNavList & {
        @include flex($gap: 1.2rem);
    }
}

button {
    @include flex();
    font: inherit;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 250ms ease-in-out;

    &.Btn--orange {
        font-size: 1.3rem;
        font-weight: 700;
        letter-spacing: 2px;
    }

    &:not(.Btn--orange):hover,
    &:not(.Btn--orange):focus {
        color: $clr-orange;
    }
}

*:focus {
    outline: 2px dashed $clr-orange;
    outline-offset: 5px;
}

input:focus {
    outline: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}