@use 'styles/utils' as *;

.Header {
    background-color: $clr-blacky;
    z-index: 50;

    &__container {
        @extend %container;
        @include flex($justify: space-between);
        position: relative;
        z-index: 100;
        padding-block: 3.2rem;

        @include breakpoint(tablet) {
            justify-content: flex-start;
            gap: 4rem;
        }

        @include breakpoint(desktop) {
            align-items: center;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: $clr-divider;

            @include breakpoint(tablet) {
                width: calc(100% - 6.4rem);
                left: 3.2rem;
            }

            @include breakpoint(desktop) {
                width: calc(100% - 8rem);
                left: 4rem;
            }
        }
    }

    &__menu {
        cursor: pointer;

        @include breakpoint(desktop) {
            display: none;
        }
    }

    &__logo {
        display: flex;
    }

    &__nav {
        @include breakpoint(mobTab) {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            padding-block: 9.2rem 3.2rem;
            background-color: $clr-white;
            border-radius: 0 0 .8rem .8rem;
            opacity: 0;
            visibility: hidden;
            transform: translateY(110%);
            transition: all 250ms ease-out;

            &.active {
                opacity: 1;
                visibility: visible;
                transform: translateY(100%);
            }
        }
    }

    .NavList {
        display: none;

        @include breakpoint(desktop) {
            @include flex($gap: 3.6rem);

            >* {
                display: flex;
            }

            a {
                font-size: 1.4rem;
            }
        }
    }

    .MobNavList {
        @include breakpoint(desktop) {
            display: none;
        }
    }
}