@use 'styles/utils' as *;

.CartSummary {
    @include flex($direct: column, $align: stretch, $gap: 2.4rem);
    background-color: $clr-white;
    padding: 3.2rem;
    border-radius: .8rem;
    max-width: 47rem;

    @include breakpoint(desktop) {
        max-width: 34.5rem;
        flex: 40%;
    }

    &__totalPrice {
        @include flex($direct: column, $align: stretch, $gap: .5rem)
    }

    &__invoice {
        @include flex($justify: space-between);

        &:last-of-type {
            margin-top: 1.6rem;
            color: $clr-orange;
        }

        span {
            font-size: 1.5rem;
            color: $clr-txt;
        }
    }
}